## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation2.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Carauari,BR,80.22,light rain,-4.8828,-66.8958,Hotel Fellip
1,6,Ibirite,BR,80.60,clear sky,-20.0219,-44.0589,Jangada Hotel
2,17,Vaini,TO,80.60,moderate rain,-21.2000,-175.2000,Keleti Beach Resort
3,19,Butaritari,KI,79.79,moderate rain,3.0707,172.7902,Isles Sunset Lodge
4,20,Rikitea,PF,78.78,clear sky,-23.1203,-134.9692,Pension Maro'i

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = vacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["Hotel Name"] == "Bungalows Acacias Hotel"]
vacation_end = vacation_df.loc[vacation_df["Hotel Name"] == "Bungalows Acacias Hotel"]
vacation_stop1 = vacation_df.loc[vacation_df["Hotel Name"] == "Angora Hotel"]
vacation_stop2 = vacation_df.loc[vacation_df["Hotel Name"] == "RELAHARA"] 
vacation_stop3 = vacation_df.loc[vacation_df["Hotel Name"] == "DISCOVERY AMBOASARY"] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
88,339,Betioky,MG,80.24,broken clouds,-23.7167,44.3833,Bungalows Acacias Hotel

In [5]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_end[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()

end

array([[-23.7167,  44.3833]])

In [6]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions = gmaps.directions_layer(start[0], end[0], waypoints=[stop1[0], stop2[0], stop3[0]], travel_mode="DRIVING")
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,339,Betioky,MG,80.24,broken clouds,-23.7167,44.3833,Bungalows Acacias Hotel
1,465,Ampanihy,MG,80.62,broken clouds,-24.7000,44.7500,Angora Hotel
2,44,Ambovombe,MG,78.78,clear sky,-25.1667,46.0833,RELAHARA
3,32,Amboasary,MG,82.40,light rain,-25.0333,46.3833,DISCOVERY AMBOASARY

In [8]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))